* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    margin: 0;
    padding: 16px;
    gap: 16px;
    font-size: 18px;
    align-items: center;
}

.top-content{
    background-color: #1f2937;
    flex-grow: 1;
    color: #f9faf8;
}

.main-content{
    display: flex;
    justify-content: space-around;
    padding: 32px;
    padding-top: 64px;
    padding-bottom: 64px;
    margin-top: 32px;
    flex-wrap: wrap;
}

#hero-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0;
}

#hero-content {
    margin: 0;
}

button {
    background-color: #3882f6;
    margin-top: 16px;
    width: 150px;
    height: 40px;
    border-radius: 12px;
    text-decoration: none;
    border: none;
    font-size: 18px;
    color: white;
}

.content-left {
    width: 700px;
    font-size: 18px;
}

.content-right {
    size: auto;
}

.header-1 {
    font-size: 24px;
    font-weight: bolder;
    color: #f9faf8;
    margin-right: auto;
}

#middle-title {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
}

.images {
    display: flex;
    list-style: none;
    justify-content: space-around;
    text-align: center;
    font-size: 18px;
    flex-wrap: wrap;
    margin-bottom: 36px;
}

.image img {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 200px;
    max-width: 100%;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 15px;
    border-width: 4px;
    margin-bottom: 10px;
}

.image { 
    display: flex;
    flex-direction: column;
    width: 300px;
    
}

img {
    max-width: 35%;
}

body {
    margin: 0;
}

.Quote {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    padding: 128px;
    background-color: #E5E7EB;
}

.bottom-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #3882f6;
    width: 75%;
    height: 125px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 128px;
    margin-bottom: 128px;
    color: white;
}

.paratest {
    display: flex;
    flex-direction: column;
}

#request-quote {
    border: white;
    border-style: solid;
    border-width: 2px;
    width: 150px;
}

.test {
    margin: 0%;
}

.bold {
    font-weight: bolder;
}

.footer {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
}
